*.pyc
__pycache__
.terraform-version
.terraform
.terraform.lock.hcl
.psql_instance_password
.src_endpoint
.envrc
plan.txt
_kc_*.tf
.plan.*
*.spec
automation/
build/
dist/
logs/
*.log
marketing/
temp/
utils_bak/
log.txt
temp.txt
theia/
kc-theia/
kc-rapid-cloud/
kc-rapid-cloud-1/
kc-rapid-cloud-2/
*/*/lambda_zip/*.zip
.DS_Store
.vscode
kinect-*.zip
*.DS_Store*
run.sh

terraform/lambda_zip/*
terraform/ids_*
terraform/kc_*
terraform/kinect_*
terraform/pinellas_*
terraform/igor_*
terraform/*/*.log
terraform/modules/az_*

server/console/dist/
server/console/template/module/
server/console/template/az_*

build_tools/

config/apis/
config/activation.json
config/all_aws_profiles.json
config/all_azure_profiles.json
config/all_gcp_profiles.json
config/aws_profile.json
config/azure_profile.json
config/gcp_profile.json
config/creds/
config/cloud_context.json
config/aws_profiles/
config/environments/

data/
temp/
testing/

test/test.txt
__pycache__

licensing/function.zip
licensing/stripe/
licensing/admin/
licensing/*.sh
licensing/saas.*

containers/
logs/
marketing/
other/
pricing/
readme_pictures/
scripts/

server/docs/
server/*_custom_server.py
server/*.sh
server/README.md

pyinstaller-key.txt

flask_session/
rcenv/
.env
.venv/
.venv-3.11.0/
.dccache
utils/lambda_layers/
tags
