module "{{ profile }}_{{ resource_name }}_{{ resource_type }}" {
  source             = "../modules/aws_ssoadmin/{{ resource_type }}"
  permission_set_arn = module.{{ profile }}_{{ params['permission_set_name'] }}_aws_ssoadmin_permission_set.arn
  principal_type     = "{{ params['principal_type'] }}"
  account_id         = module.{{ profile }}_{{ params['account_name'] }}_aws_organizations_account.id
  {% if params['principal_ids']|length > 0 %}
  principal_ids      = {{ params['principal_ids'] | replace("'","\"") }}
  {% elif params['principal_users']|length > 0 and params['principal_type']|lower == 'user' %}
  principal_ids      = [
    {% for p in params['principal_users'] %}
    module.{{ profile }}_{{ p }}_aws_identitystore_user.id,
    {% endfor %}
  ]
  {% elif params['principal_groups']|length > 0 and params['principal_type']|lower == 'group' %}
  principal_ids      = [
    {% for p in params['principal_groups'] %}
    module.{{ profile }}_{{ p }}_aws_identitystore_group.id,
    {% endfor %}
  ]
  {% else %}
  principal_ids = []
  {% endif %}
}