module "{{ profile }}_{{ resource_name }}_{{ resource_type }}" {
  source                       = "{{ module_source }}"
  cluster_id                   = "{{ resource_name }}"
  {% if params['node_type']|length > 0 %}
  node_type                    = "{{ params['node_type'] }}"
  {% endif %}
  {% if params['num_cache_nodes']|length > 0 %}
  num_cache_nodes              = {{ params['num_cache_nodes'] }}
  {% endif %}
  {% if params['parameter_group_name']|length > 0 %}
  parameter_group_name         = "{{ params['parameter_group_name'] }}"
  {% endif %}
  apply_immediately            = {{ params['apply_immediately'] }}
  az_mode                      = "{{ params['az_mode'] }}"
  preferred_availability_zones = {{ params['preferred_availability_zones'] | replace("'","\"") }}
  {% if params['engine_version']|length > 0 %}
  engine_version               = "{{ params['engine_version'] }}"
  {% endif %}
  {% if params['maintenance_window']|length > 0 %}
  maintenance_window           = "{{ params['maintenance_window'] }}"
  {% endif %}
  {% if params['notification_topic_arn']|length > 0 %}
  notification_topic_arn       = "{{ params['notification_topic_arn'] }}"
  {% endif %}
  subnet_ids                   = {{ params['subnet_ids'] | replace("'","\"") }}
  security_group_ids           = {{ params['security_group_ids'] | replace("'","\"") }}

  tags = {
    "Name"      = "{{ profile }}_{{ resource_name }}"
    "env"       = "{{ env }}"
    "profile"   = "{{ name }}"
    "workload"  = "{{ workload }}"
    "client"    = "{{ client }}"
    "author"    = "rapid-cloud-by-kinect"
  }
}
