provider "azurerm" {
  features {}
}

terraform {
  required_providers {
    azurerm = {
      source = "hashicorp/azurerm"
      version = "=3.67.0"
    }
  }

  backend "azurerm" {
    resource_group_name  = "{{ tf_storage_rg }}"
    storage_account_name = "{{ tf_storage }}"
    container_name       = "{{ tf_container }}"
    key                  = "terraform.tfstate"
  }
}