resource "aws_cloudwatch_event_rule" "{{ profile}}_{{ resource_name }}_{{ resource_type }}" {
  {# name = "{{ profile }}_{{ resource_name }}_{{ resource_type }}" #}
  {# name = "{{ fully_qualified_name[:64] }}" #}
  {% set r = profile ~ '_' ~ resource_name ~ '_' ~ resource_type -%}
  name = "{{ r  | truncate(64, true, '') }}"
  {% if params['schedule'] is defined %}
  schedule_expression = "cron({{ params['schedule'] }})"
  {% else %}
  event_pattern = <<EOF
  {
    "source": ["{{ params['event_pattern']['source'] }}"],
    "detail-type": ["{{ params['event_pattern']['detail-type'] }}"]
  }
  EOF
  {% endif %}
  tags = {
    "Name" = "{{ profile}}_{{ resource_name }}_{{resource_type}}"
    "env" = "{{ env }}"
    "profile" = "{{ name }}"
    "workload" = "{{ workload }}"
    "client" = "{{ client }}"
    "author" = "rapid-cloud"
  }
}

resource "aws_cloudwatch_event_target" "{{ profile}}_{{ resource_name }}_{{ resource_type }}" {
  rule = "{{ profile }}_{{ resource_name }}_{{ resource_type }}"
  {% if params['target_type'] is defined %}
  arn  = module.{{ profile}}_{{ params['target'] }}_{{ params['target_type'] }}.arn
  {% else %}
  arn  = module.{{ profile}}_{{ params['target'] }}_lambda_function.arn
  {% endif %}
  {% if params['input'] is defined %}
  input = "{{ params['input'] | tojson | replace('"', '\\"') }}"
  {% endif %}
}

resource "aws_lambda_permission" "{{ profile}}_{{ resource_name }}_{{ resource_type }}" {
  statement_id  = "{{ profile}}_{{ resource_name }}_AllowExecutionFromCloudWatch"
  action        = "lambda:InvokeFunction"
  function_name = module.{{ profile}}_{{ params['target'] }}_{{ params['target_type'] }}.name
  principal     = "events.amazonaws.com"
}
