module "{{fqn}}" {
    source                              = "{{module_source}}"
    env                                 = "{{ env }}"
    workload                            = "{{ workload }}"
    cmd_id                              = "{{ cmd_id }}"
    profile                             = "{{ profile }}"
    name                                = "{{ resource_name }}"
    profile_id                          = module.{{ profile }}_frontdoor_profile_{{ params["profile_id"] }}.id
    {% if params['tags'] is defined %}
    tags = {
    {% for k, v in  params['tags'].items() -%}
        "{{ k }}" = "{{ v }}"
    {% endfor -%}
    }
    {% endif %}
    depends_on = [
      module.{{ profile }}_frontdoor_profile_{{ params["profile_id"] }}
    ]
}