module "{{fqn}}" {
    source                              = "{{module_source}}"
    env                                 = "{{ env }}"
    workload                            = "{{ workload }}"
    cmd_id                              = "{{ cmd_id }}"
    profile                             = "{{ profile }}"
    name                                = "{{ resource_name }}"
    resource_group                      = "{{ params["resource_group"] }}"
    endpoint_id                         = module.{{ profile }}_frontdoor_endpoint_{{ params["endpoint_id"] }}.id
    origin_group_id                     = module.{{ profile }}_frontdoor_origingroup_{{ params["origin_group_id"] }}.id
    origins                             = [
    {% for origin in  params['origins'] -%}
        module.{{ profile }}_frontdoor_origin_{{ origin }}.id,
    {% endfor -%}
    ]
    patterns_to_match                   = {{ params["patterns_to_match"]|tojson }}
    supported_protocols                 = {{ params["supported_protocols"]|tojson }}
    redirect_https                      = {{ params["redirect_https"] }}
    enable_caching                      = {{ params["enable_caching"] }}
    query_string_cache_behavior         = "{{ params["query_string_cache_behavior"] }}"
    forwarding_protocol                 = "{{ params["forwarding_protocol"] }}"
    domains                             = [
      {% for domain in  params['domains'] -%}
          module.{{ profile }}_frontdoor_domain_{{ domain }}.id,
      {% endfor -%}
    ]
    {% if params['tags'] is defined %}
    tags = {
    {% for k, v in  params['tags'].items() -%}
        "{{ k }}" = "{{ v }}"
    {% endfor -%}
    }
    {% endif %}

    depends_on = [
      module.{{ profile }}_frontdoor_endpoint_{{ params["endpoint_id"] }},
      module.{{ profile }}_frontdoor_origingroup_{{ params["origin_group_id"] }},
      {% for origin in  params['origins'] -%}
        module.{{ profile }}_frontdoor_origin_{{ origin }},
      {% endfor -%}
      {% for domain in  params['domains'] -%}
        module.{{ profile }}_frontdoor_domain_{{ domain }},
      {% endfor -%}
    ]
}