module "{{ fqn }}" {
    source                                  = "{{ module_source }}"
    profile                                 = "{{ profile }}"
    env                                     = "{{ env }}"
    workload                                = "{{ workload }}"
    cmd_id                                  = "{{ cmd_id }}"
    name                                    = "{{ resource_name }}"
    location                                = "{{ params["location"] }}"
    resource_group                          = "{{ params["resource_group"] }}"
    rule_set_version                        = "{{ params["rule_set_version"] }}"
    {% if params['tags'] is defined %}
    tags                                    = {
    {% for k, v in  params['tags'].items() -%}
                                                "{{ k }}" = "{{ v }}"
    {% endfor -%}
                                            }
    {% endif %}
}